block footer
  footer.footer
    div.container
      p.text-muted 
        | Copyright © 2015
        a(href='http://www.audiotexdoo.ba') Audiotex doo
        |. All Rights reserved.
                   



