block head
  title= title
  
  meta(charset='utf-8') 
  meta(name='viewport' content='width=device-width, initial-scale=1')
  
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  
  script(src='/javascript/jquery-2.1.1.min.js')
  script(src='/javascript/bootstrap.min.js')
  //script(src='/javascript/angularjs-1.2.28.min.js')
  //script(src='/javascript/moment.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascript/i18next-1.10.1.min.js')
  
