doctype html
html
  head
    include head

  body
    include navbar

    div.container   
        center.div.media: img.media-object(src="/img/index.png")
      div.jumbotron.text-center
        h1= t('index.title')
        p= t('index.description') 
        p: a.btn.btn-primary.btn-lg(href='/dashboard' role='button')= t('index.dashboard')

    include footer