doctype html
html
  head
    include head

  body
    include navbar

    div.container
      div.jumbotron.text-center
        h1= t('index.title')
        p= t('index.description') 
        p: a.btn.btn-primary.btn-lg(href='/dashboard' role='button')= t('index.dashboard')
        div.media: img.media-object(src="/img/dashboard.jpg")

    include footer